.introContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top:70px;
}

.wrapper {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #faffaf;
  font-size: 1.2rem;
  padding:80px 0px 0px;
  text-align: justify;
  display: inline-flex;
  gap:0.5rem;
}

.wrapper .staticTxt {
  font-size: 2.5rem;
  color:#fff;
  width:230px;
}

.wrapper .dynamicTxt {
  background: #00182F;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
}

.dynamicTxt li {
  list-style-type: none;
  font-size: 2.5rem;
  position: relative;
  top: 0;
  animation: slide 6s steps(3) infinite;
}

@keyframes slide {
  100% { top: -152px; }
}

.dynamicTxt li span {
  position: relative;
  padding: 0px 5px 0px 10px;
}

.dynamicTxt li span::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00182F;
  border-radius: 10px 10px 10px 10px;
  border-left: 2px solid #FC6D6D;
  animation: typing 2s steps(20) infinite;
}

@keyframes typing {
  0%, 100% { width: 0; }
  50% { width: 100%; }
}


.image {
  height: 240px;
  width: 240px;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  border: 6px solid #070a1c;
}

.image:hover{
  cursor:cell;
}

.image img {
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.imageContainer:hover img {
  opacity: 0.2;
}

.imageContainer:hover .hoverText {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.hoverText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.imageContainer {
  height:280px;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  /* animation: animate 4s linear infinite; */
  position: relative;
  overflow: hidden;
}

.imageContainer::before {
  content:'';
  position: absolute;
  inset: -10px 100px;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  transition:0.5s;
  animation:animate 4s linear infinite;
}

.imageContainer::after {
  content: '';
  position: absolute;
  inset: 6px;
  background: #162052;
  border-radius: 50%;
  z-index: 1;
}


@keyframes typing {
  100% {
    left:100%;
    margin: 0px -40px 0px 40px;
  }
}

@keyframes animate {
  0%{
    transform: rotate(0deg);
  }
  0%{
    transform: rotate(360deg);
  }
}

@media (max-width: 480px) {
  
  .wrapper .staticTxt {
    font-size: 1.3rem;
    color:#fff;
    width:120px;
    padding: 2px 0px;
  }
  
  .wrapper .dynamicTxt {
    background: #00182F;
    overflow: hidden;
    height: 30px;
    line-height: 31px;
    border-radius: 10px;
  }
  
  .dynamicTxt li {
    list-style-type: none;
    font-size: 1.2rem;
    position: relative;
    top: 0;
  }
  
  @keyframes slide {
    100% { top: -90px; }
  }
  
  .dynamicTxt li span {
    position: relative;
    padding: 0px 2px 0px 5px;
  }
  
  .dynamicTxt li span::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 120%;
    background-color: #00182F;
    border-radius: 5px;
    border-left: 2px solid #FC6D6D;
  }

}