* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cgw_main_container {
    display: none !important;
}

.cgw-ext {
    display: none !important;
}

#cgw_action_btn {
    display: none !important;
}

.skillsSection {
    margin:40px 0px;
    height: auto;
}

.heading {
    color: #fff;
    font-size: 2rem;
    text-align: center;
    margin: 30px 0px 20px 0px;
    height: 40px;
}

.description {
    color: #fff;
    text-align: justify;
    text-align: center;
    font-size: 1.2rem;
    margin: 25px 25px;
    height:30px;
}

.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 40px;
    height: auto;
}

.skill {
    width: 40%;
    margin-bottom: 20px;
    height:20px;
}

.skillName {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    height:20px;
}

.skillLevel {
    color: #ccc;
    height:20px;
}

.progressBar {
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    height: 20px;
}

.progress {
    height: 100%;
    background-color: #4CAF50;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .skill {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .skillsSection {
        display: flex;
        flex-direction: column;
        gap:30px;
    }

    .heading {
        margin: 0;
        font-size: 1.4rem;
    }

    .description {
        color: #fff;
        text-align: justify;
        text-align: center;
        font-size: 0.7rem;
        margin: 10px 25px;
        height:15px;
    }
}

