* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

body {
  background: linear-gradient(135deg, #12100E, #06062A);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.cgw_main_container {
  display: none;
}

.cgw_ext {
  display: none !important;
}